/* CSS placed here will be applied to all skins */

#p-wimaadvertising-advertising img,
#p-wimaadvertising-advertising2 img,
#p-wimaadvertising-eventnote img,
#p-wimaadvertising-eventnote2 img,
#p-wimaadvertising-hint img,
#p-wimaadvertising-hint2 img {
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
}
#p-wimaadvertising-advertising p.small,
#p-wimaadvertising-advertising2 p.small,
#p-wimaadvertising-eventnote p.small,
#p-wimaadvertising-eventnote2 p.small,
#p-wimaadvertising-hint p.small,
#p-wimaadvertising-hint2 p.small {
	}
#p-wimaadvertising-advertising ul,
#p-wimaadvertising-advertising2 ul,
#p-wimaadvertising-eventnote ul,
#p-wimaadvertising-eventnote2 ul,
#p-wimaadvertising-hint ul,
#p-wimaadvertising-hint2 ul {
	margin: 0;
	padding: 0;
}
#siteNotice p {
	margin-bottom: 0 !important;
}

.wima_ad {
background-color: #ffffff;
border: #68a solid 2px;
display: block;
position: fixed;
}
.wima_label {
background-color: #ffffff;
cursor:pointer;
border: #68a solid 1px;
display: none;
position: fixed;
}
.wima_ad_label {
background-color: #ffffff;
cursor:pointer;
float: right;
font-size: .8em;
padding-right:10px;
}
.wima_label_1 {
top: 0;
left: 50%;
heigth:auto;
width:auto;
padding:0 5px 0;
z-index: 100011;
}
.wima_ad_1 {
top: 0;
right: 0;
text-align:center;
z-index: 100001;
}
.wima_label_2 {
top: 250px;
left: -30px;
transform: rotate(-90deg);
heigth:auto;
width:auto;
padding:0 5px 0;
z-index: 100002;
}
.wima_ad_2 {
top: 250px;
left:   0;
text-align:center;
heigth:100%;
width:150px;
z-index: 100012;
}
.wima_label_3 {
top: 250px;
right: -30px;
transform: rotate(90deg);
heigth:auto;
width:auto;
padding:0 5px 0;
z-index: 100003;
}
.wima_ad_3 {
top: 250px;
right:  0;
text-align:center;
heigth:100%;
width:150px;
z-index: 100013;
}
.wima_label_4 {
bottom: 0;
left: 50%;
heigth:auto;
width:auto;
padding:0 5px 0;
z-index: 100004;
}
.wima_ad_4 {
bottom: 0;
right: 0;
text-align:center;
z-index: 100014;
}
