/* CSS placed here will affect users of the mobile site */

.wima_ad {
background-color: #ffffff;
border: #68a solid 2px;
}
.wima_label {
background-color: #ffffff;
border: #68a solid 1px;
}
.wima_ad_2 {
width:140px;
}
.wima_ad_3 {
width:140px;
}

.wima_ad {
display:block;
position:fixed;
z-index: 10000;
}
.wima_label {
cursor:pointer;
display:none;
position:fixed;
z-index: 100001;
}
.wima_ad_label {
cursor:pointer;
float:right;
font-size:.8em;
padding-bottom:4px;
padding-right:10px;
top:2px
width:auto;
z-index: 100002;
}
.wima_label_1 {
top: 0;
left: 50%;
heigth:auto;
width:auto;
padding:0 5px 0;
}
.wima_ad_1 {
top: 0;
right: 0;
heigth:400px;
width:80%;
text-align:center;
}
.wima_label_2 {
top: 250px;
left: -60px;
transform: rotate(-90deg);
heigth:auto;
width:auto;
padding:0 5px 0;
}
.wima_ad_2 {
top: 250px;
left:   0;
text-align:center;
heigth:100%;
z-index: 100012;
}
.wima_label_3 {
top: 250px;
right: -60px;
transform: rotate(90deg);
heigth:auto;
width:auto;
padding:0 5px 0;
z-index: 100003;
}
.wima_ad_3 {
top: 250px;
right:  0;
text-align:center;
heigth:100%;
z-index: 100013;
}
.wima_label_4 {
bottom: 0;
left: 50%;
heigth:auto;
width:auto;
padding:0 5px 0;
}
.wima_ad_4 {
bottom: 0;
right: 0;
width:80%;
text-align:center;
}