/* CSS for Modern */

.wima_ad {
background-color: #ffffff;
border: #68a solid 2px;
}
.wima_label {
background-color: #ffffff;
border: #68a solid 1px;
}
.wima_ad_2 {
width:180px;
}
.wima_ad_3 {
width:180px;
}
