/* CSS for Timeless */

.wima_ad {
background-color: #ffffff;
border: #990000 solid 2px;
}
.wima_label {
background-color: #ffffff;
border: #990000 solid 1px;
}
.wima_ad_2 {
width:215px;
}
.wima_ad_3 {
width:250px;
}
